.section-center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 12px 20px;
    color: #fff;
    border-radius: 20px;
    font-size: 13px;
    transition: 0.3s;   
    background: var(--color-two);
}

.button:hover{
    background: var(--color-one);
}